views/notfound.pug
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Some description')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    div.container
      br
      h3 ไม่เป็นสมาชิก
      hr

      p
        a.btn.btn-primary(href='/login') Back

views/dist/notfound.html

<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Some description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container"><br/>
      <h3>ไม่เป็นสมาชิก</h3>
      <hr/>
      <p><a class="btn btn-primary" href="/login">Back</a></p>
    </div>
  </body>
</html>
